body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #1db954, #191414);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.player {
    background: #121212;
    width: 320px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}

h2 {
    margin: 5px 0;
}

p {
    margin: 0 0 10px;
    color: #aaa;
}

/* Progress */
.progress-container {
    width: 100%;
    height: 6px;
    background: #333;
    border-radius: 5px;
    cursor: pointer;
}

.progress {
    height: 100%;
    width: 0%;
    background: #1db954;
    border-radius: 5px;
}

/* Time */
.time {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 5px 0;
}

/* Controls */
.controls {
    margin: 15px 0;
}

.controls button {
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    margin: 0 10px;
    cursor: pointer;
}

/* Volume */
input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

/* Playlist */
ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    max-height: 120px;
    overflow-y: auto;
}

ul li {
    padding: 6px;
    cursor: pointer;
    border-bottom: 1px solid #333;
}

ul li:hover {
    background: #1db954;
    color: black;
}
